/* Breadcrumbs styles */
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: var(--spacing-sm) 0;
  margin-bottom: var(--spacing-md);
  list-style: none;
  background-color: transparent;
}

.breadcrumb-item {
  display: inline-flex;
  align-items: center;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: var(--spacing-sm);
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: var(--spacing-sm);
  color: var(--dark);
  content: "/";
}

.breadcrumb-item a {
  color: var(--dark);
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #6c757d;
}